@page "/history"
@using Fluxor
@using LiftLog.Ui.Services
@using LiftLog.Ui.Store.App
@using LiftLog.Ui.Store.CurrentSession
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject SessionService SessionService
@inject NavigationManager NavigationManager
@inject IState<CurrentSessionState> CurrentSessionState
@inject IState<AppState> AppState
@inject IState<ProgramState> ProgramState
@inject IDispatcher Dispatcher
@inject ILogger<HistoryPage> Logger


@if (!_latestSessions.Any())
{
    <EmptyInfo>
        <p>Nothing recorded yet!<br> Complete a session and check again.</p>
    </EmptyInfo>
}
else
{
    <Card class="mx-2" Type=Card.CardType.Filled>
        <HistoryCalendar
            CurrentMonth="@currentMonth.Month"
            CurrentYear="@currentMonth.Year"
            Sessions="_latestSessions"
            OnSessionClick="HandleSessionClick"
            OnMonthChange="HandleMonthChange"
            OnDateSelect=CreateSessionAtDate
            OnSessionLongPress=@((session)=>{_selectedSession = session; _deleteDialog?.Open();}) />
    </Card>
    <CardList CardType=Card.CardType.Outlined Items="filteredToMonthSessions" TItem="Session" OnClick="HandleSessionClick" OnLongPress=@((item)=>{_selectedSession = item; _deleteDialog?.Open();}) >
        <SplitCardControl>
            <TitleContent>
                <SessionSummaryTitle IsFilled="true" Session="context" ></SessionSummaryTitle>
            </TitleContent>
            <MainContent>
                <SessionSummary Session="context" ShowSets="true"></SessionSummary>
            </MainContent>

        </SplitCardControl>
    </CardList>
    @if (!filteredToMonthSessions.Any())
    {
        <EmptyInfo>
            <p>Nothing recorded in @(currentMonth.ToString("MMMM"))<br> Complete a session or switch to another month to view your sessions.</p>
        </EmptyInfo>
    }
}

<ConfirmationDialog @ref="_deleteDialog" OkText="Delete" OnOk=DeleteSession PreventCancel=true >
    <Headline>Delete Session?</Headline>
    <TextContent>
        The session named <span class="font-bold text-primary">@_selectedSession.Blueprint.Name</span>,
        on @(_selectedSession.Date) will be deleted from history. This cannot be undone.
    </TextContent>
</ConfirmationDialog>

@code
{

    private List<Session> _latestSessions = new List<Session>();
    private List<Session> filteredToMonthSessions = new List<Session>();
    private DateOnly currentMonth = DateOnly.FromDateTime(DateTime.Now);
    private Session _selectedSession = Session.Empty;
    private ConfirmationDialog? _deleteDialog;

    private async void DeleteSession()
    {
        Dispatcher.Dispatch(new DeleteSessionAction(_selectedSession));
        Dispatcher.Dispatch(new AddUnpublishedSessionIdAction(_selectedSession.Id));
        Dispatcher.Dispatch(new SetStatsIsDirtyAction(true));
        Dispatcher.Dispatch(new PublishUnpublishedSessionsAction());
        _selectedSession = Session.Empty;
        this._latestSessions = await SessionService
            .GetLatestSessionsAsync()
            .ToListAsync();
        HandleMonthChange(currentMonth);
    }

    private void HandleSessionClick(Session session)
    {
        Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.HistorySession, session));
        NavigationManager.NavigateTo("/history/edit");
    }

    private void HandleMonthChange(DateOnly date)
    {
        currentMonth = date;
        filteredToMonthSessions = _latestSessions.Where(s => s.Date.Month == date.Month && s.Date.Year == date.Year).ToList();
        Dispatcher.Dispatch(new SetHistoryYearMonthAction(date.Year, date.Month));
    }

    private void CreateSessionAtDate(DateOnly date)
    {
        var latestBodyweight = ProgramState.Value.UpcomingSessions.Map(x=>x.FirstOrDefault()?.Bodyweight).UnwrapOr(null);
        var session = Session.FreeformSession(date, latestBodyweight);
        Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.HistorySession, session));
        Dispatcher.Dispatch(new NavigateAction("/history/edit"));
    }

    protected override async Task OnInitializedAsync()
    {
        var sw = System.Diagnostics.Stopwatch.StartNew();
        Dispatcher.Dispatch(new SetPageTitleAction(UiStrings.History));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction(null));
        Dispatcher.Dispatch(new SetReopenCurrentSessionAction(SessionTarget.HistorySession, false));
        Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.HistorySession, null));
        this._latestSessions = await SessionService
            .GetLatestSessionsAsync()
            .ToListAsync();

        if (AppState.Value.HistoryYearMonth is (int year, int month))
        {
            HandleMonthChange(new DateOnly(year, month, 1));
        }
        else
        {
            HandleMonthChange(DateOnly.FromDateTime(DateTime.Now));
        }
        await base.OnInitializedAsync();
        sw.Stop();
        Logger.LogInformation($"History page initialized in {sw.ElapsedMilliseconds} ms");
    }
}
