@using Fluxor;
@using LiftLog.Ui.Store.App;
@using LiftLog.Ui.Store.CurrentSession;
@using LiftLog.Ui.Store.Program;

@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<ProgramState> ProgramState
@inject IState<AppState> AppState
@inject IState<SettingsState> SettingsState
@inject IState<CurrentSessionState> CurrentSessionState
@inject IDispatcher Dispatcher
@inject NavigationManager NavigationManager
@inject IDeviceService DeviceService

@if(DeviceService.GetDeviceType() == DeviceType.Android)
{
    <AndroidNotificationAlert />
}

<Remote Value="ProgramState.Value.UpcomingSessions" Context="upcoming">
@if (upcoming.Count == 0)
{
    <div class="flex flex-col gap-2 px-2">
        <Card class="flex flex-col gap-4">
            <div class="flex justify-between">
                <span class="text-lg">@UiStrings.NoPlanCreated</span>
                <md-icon>info</md-icon>
            </div>
            <div class="grid grid-cols-2 gap-2">
                <AppButton Type="AppButtonType.Secondary" Icon="add" OnClick=@(() => Dispatcher.Dispatch(new NavigateAction("/settings/manage-workouts?planId="+ProgramState.Value.ActivePlanId)))>
                    @UiStrings.AddWorkouts
                </AppButton>
                <AppButton Icon="assignment" OnClick=@(() => NavigationManager.NavigateTo("/settings/program-list"))>
                    @UiStrings.SelectAPlan
                </AppButton>
            </div>
        </Card>
    </div>
}
else
{
    <div class="m-2">
        <Tips/>
    </div>
    <CardList CardType=Card.CardType.Outlined Items="upcoming.Index()" OnClick="x => SelectSession(x.Item)">
        <SplitCardControl>
            <TitleContent>
                <SessionSummaryTitle IsFilled="context.Item.IsStarted" Session="context.Item" />
            </TitleContent>
            <MainContent>
                <SessionSummary ShowSets=true Session="context.Item" IsFilled="false"></SessionSummary>
            </MainContent>
        </SplitCardControl>
    </CardList>
}


<FloatingBottomContainer>
    <Fab>
        <div class="flex flex-col gap-2 items-end">
            @if(AppState.Value.ProState.IsPro)
            {
                <FloatingButton variant="secondary" size=medium has-icon OnClick=AiSessionCreator >
                    <md-icon slot="icon">auto_awesome</md-icon>
                </FloatingButton>
            }
            <FloatingButton variant="primary" has-icon OnClick="StartFreeformSession" Label=@(UiStrings.Freeform_Session)>
                <md-icon slot="icon">fitness_center</md-icon>
            </FloatingButton>
        </div>
    </Fab>
</FloatingBottomContainer>
</Remote>

<ConfirmationDialog @ref="replaceCurrentSesisonDialog" OkText="Replace" OnOk="ReplaceSession">
    <Headline>@UiStrings.ReplaceCurrentSession</Headline>
    <TextContent>
        @UiStrings.SessionInProgress
    </TextContent>
</ConfirmationDialog>

<BackupAlert />

@code {

    private ConfirmationDialog? replaceCurrentSesisonDialog;
    private Session? selectedSession;

    protected override async Task OnInitializedAsync()
    {
        Dispatcher.Dispatch(new SetPageTitleAction(UiStrings.UpcomingWorkouts));
        Dispatcher.Dispatch(new FetchUpcomingSessionsAction());
        Dispatcher.Dispatch(new SetReopenCurrentSessionAction(SessionTarget.WorkoutSession, false));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction(null));
        Dispatcher.Dispatch(new PublishUnpublishedSessionsAction());
        Dispatcher.Dispatch(new ExecuteRemoteBackupAction(SettingsState.Value.RemoteBackupSettings));
        await base.OnInitializedAsync();
    }

    private void SelectSession(Session session)
    {
        selectedSession = session;
        if (CurrentSessionState.Value.WorkoutSession is { IsStarted: true } && CurrentSessionState.Value.WorkoutSession !=
            session)
        {
            replaceCurrentSesisonDialog?.Open();
        }
        else
        {
            ReplaceSession();
        }
    }

    private async void ReplaceSession()
    {
        if (selectedSession is null)
        {
            return;
        }

        await (replaceCurrentSesisonDialog?.CloseWait() ?? Task.CompletedTask);
        Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.WorkoutSession, selectedSession));
        Dispatcher.Dispatch(new NavigateAction("/session"));
    }

    private void StartFreeformSession()
    {
        if(!ProgramState.Value.UpcomingSessions.IsSuccess){
            return;
        }
        var latestBodyweight = ProgramState.Value.UpcomingSessions.Data.FirstOrDefault()?.Bodyweight;
        selectedSession = Session.FreeformSession(DateOnly.FromDateTime(DateTime.Now), latestBodyweight);
        if (CurrentSessionState.Value.WorkoutSession is { IsStarted: true })
        {
            replaceCurrentSesisonDialog?.Open();
        }
        else
        {
            Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.WorkoutSession, selectedSession));
            NavigationManager.NavigateTo("/session");
        }
    }

    private void AiSessionCreator()
    {
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/"));
        Dispatcher.Dispatch(new NavigateAction("/settings/ai-session-creator"));
    }
}
