@page "/settings/backup-and-restore"
@inject IDispatcher Dispatcher
@inject IJSRuntime JSRuntime
@inject IDeviceService DeviceService
@inject IState<SettingsState> SettingsState

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<md-list>
    <md-list-item type="button" class="text-left" multi-line-supporting-text @onclick="()=>exportFeedDialog?.Open()">
        <md-icon slot="start">backup</md-icon>
        <span slot="headline">@UiStrings.BackUpData</span>
        <span slot="supporting-text">@UiStrings.BackUpDataSubtitle</span>
    </md-list-item>
    <md-list-item type="button" class="text-left" multi-line-supporting-text @onclick="ImportData">
        <md-icon slot="start">restore</md-icon>
        <span slot="headline">@UiStrings.RestoreData</span>
        <span slot="supporting-text">@UiStrings.RestoreDataSubtitle</span>
    </md-list-item>
    <md-list-item type="button" class="text-left" multi-line-supporting-text @onclick="RemoteBackup">
        <md-icon slot="start">cloud_upload</md-icon>
        <span slot="headline">@UiStrings.AutomaticRemoteBackup</span>
        <span slot="supporting-text">@UiStrings.AutomaticRemoteBackupSubtitle</span>
    </md-list-item>
    <md-list-item type="button" class="text-left" multi-line-supporting-text @onclick="PlainTextExport">
        <md-icon slot="start">description</md-icon>
        <span slot="headline">@UiStrings.PlaintextExport</span>
        <span slot="supporting-text">@UiStrings.PlaintextExportSubtitle</span>
    </md-list-item>
    <ListSwitch Headline="Backup reminders" SupportingText="Periodically suggest a backup when you have not backed up in a while" Value="@SettingsState.Value.BackupReminder" OnSwitched="SetBackupReminder" />
</md-list>


<ConfirmationDialog @ref="importFeedDialog" OkText="@UiStrings.ImportVerb" CancelText="@UiStrings.No" OnOk="ImportFeedData">
    <Headline>@UiStrings.ImportFeedDataQuestion</Headline>
    <TextContent>
        <LimitedHtml Value="@UiStrings.ImportFeedDataQuestionMessage" HighlightClass="text-error font-bold" />
    </TextContent>
</ConfirmationDialog>

<ConfirmationDialog
    @ref="exportFeedDialog"
    OkText="@UiStrings.IncludeFeed"
    CancelText="@UiStrings.JustMyData"
    OnOk="()=>ExportData(true)"
    OnCancel="()=>ExportData(false)">
    <Headline>@UiStrings.BackupFeedAccount</Headline>
    <TextContent>
        <LimitedHtml Value="@UiStrings.BackupFeedAccountMessage" HighlightClass="text-error font-bold" />
    </TextContent>
</ConfirmationDialog>


@if(DeviceService.GetDeviceType() == DeviceType.Web)
{
    <InputFile OnChange="LoadFiles" class="hidden" @ref=fileInput />
}

@code {

    private FeedState? importedFeedState;
    private ConfirmationDialog? importFeedDialog;
    private ConfirmationDialog? exportFeedDialog;
    private InputFile? fileInput;

    [Parameter]
    [SupplyParameterFromQuery(Name = "backup")]
    public bool Backup { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new SetPageTitleAction(UiStrings.ExportBackupRestore));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/settings"));
        SubscribeToAction<BeginFeedImportAction>(OnBeginFeedImport);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender && Backup)
        {
            exportFeedDialog?.Open();
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        using System.IO.Compression.GZipStream gzip = new(e.File.OpenReadStream(), System.IO.Compression.CompressionMode.Decompress);
        using MemoryStream memoryStream = new();
        await gzip.CopyToAsync(memoryStream);
        Dispatcher.Dispatch(new ImportDataBytesAction(memoryStream.ToArray()));
        Dispatcher.Dispatch(new SetStatsIsDirtyAction(true));
    }

    private async Task ImportData()
    {
        if(DeviceService.GetDeviceType() == DeviceType.Web){
            await JSRuntime.InvokeVoidAsync("AppUtils.callOn", fileInput!.Element!.Value!, "click");
            return;
        }
        Dispatcher.Dispatch(new ImportDataAction());
        Dispatcher.Dispatch(new SetStatsIsDirtyAction(true));
    }

    private void RemoteBackup() => Dispatcher.Dispatch(new NavigateAction("/settings/backup-and-restore/remote-backup"));

    private void PlainTextExport() => Dispatcher.Dispatch(new NavigateAction("/settings/backup-and-restore/plain-text-export"));

    private void ExportData(bool includeFeed) => Dispatcher.Dispatch(new ExportBackupDataAction(includeFeed));

    private void OnBeginFeedImport(BeginFeedImportAction action)
    {
        importedFeedState = action.FeedState;
        importFeedDialog?.Open();
    }

    private void SetBackupReminder(bool value) => Dispatcher.Dispatch(new SetBackupReminderAction(value));

    private void ImportFeedData()
    {
        if (importedFeedState is null)
        {
            return;
        }

        Dispatcher.Dispatch(new SetFeedStateAction(importedFeedState));
        importedFeedState = null;
        importFeedDialog?.Close();
    }
}
