
<span class="flex items-center gap-2">
    @if(ShowName)
    {
        <span>@Exercise.Blueprint.Name</span>
    }
    <span class="flex ml-auto overflow-x-auto gap-1">
        @if(IsFilled)
        {
            @foreach(var chip in GetWeightAndRepsChips())
            {
                <span class="flex items-center gap-0.5 bg-surface-container-highest text-on-surface-variant rounded-md py-1 px-2">
                    <span>@(chip.RepsCompleted?.ToString() ?? "-")</span><span class="text-2xs">@@</span>
                    <WeightFormat Weight="@chip.Weight"/>
                </span>
            }
        } else
        {

            @foreach(var chip in GetPlannedChipData())
            {
                <span class="flex items-center gap-0.5 bg-surface-container-highest text-on-surface-variant rounded-md py-1 px-2">
                    <span>@(chip.NumSets)x@(chip.RepTarget)</span><span class="text-2xs">@@</span>
                    <WeightFormat Weight="@chip.Weight"/>
                </span>
            }
        }
    </span>
</span>

@code
{
    [EditorRequired] [Parameter] public RecordedExercise Exercise { get; set; } = null!;

    [Parameter] public bool ShowName { get; set; }

    [Parameter] public bool IsFilled { get; set; } = true;
}
