<div class="px-6 py-4 relative" @onclick="OnEdit">
    <md-ripple></md-ripple>
    <div class="flex flex-col">
        <div class="flex justify-between items-center">
            <ItemTitle Title="@Blueprint.Name" />
            <div class="flex justify-end">
                <IconButton Type="IconButtonType.Standard" OnClick=OnMoveUp Icon="arrow_upward"/>
                <IconButton Type="IconButtonType.Standard" OnClick=OnMoveDown Icon="arrow_downward"/>
                <IconButton Type="IconButtonType.Standard" OnClick=OnRemove Icon="delete"/>
            </div>
        </div>
        <div class="flex gap-1 flex-col items-start">
            <span class=""><span class="font-bold text-primary">@Blueprint.Sets</span> @(Pluralize(@Blueprint.Sets, "set")) of <span class="font-bold text-primary">@Blueprint.RepsPerSet</span> @(Pluralize(@Blueprint.RepsPerSet, "rep"))</span>
            <RestFormat Rest=Blueprint.RestBetweenSets />
        </div>
    </div>
</div>
@code
{
    [Parameter]
    [EditorRequired]
    public ExerciseBlueprint Blueprint { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnRemove { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnMoveUp { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnMoveDown { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnEdit { get; set; }

    private string Pluralize(int count, string singular)
    {
        return count == 1 ? singular : singular + "s";
    }
}
