@using System
@using Microsoft.AspNetCore.Components

<md-list-item>
    <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <span slot="headline">@Title</span>
        <span slot="supporting-text">@Subtitle</span>
    </div>
    <md-outlined-select slot="end" value="@SelectedValue" @onchange="HandleChange">
        @foreach (DayOfWeek day in Enum.GetValues<DayOfWeek>())
        {
            <md-select-option value="@day.ToString()">
                <div slot="headline">@day.ToString()</div>
            </md-select-option>
        }
    </md-outlined-select>
</md-list-item>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Subtitle { get; set; }
    [Parameter] public string? SelectedValue { get; set; }
    [Parameter] public EventCallback<string> SelectedValueChanged { get; set; }
    private async Task HandleChange(ChangeEventArgs e)
    {
        await SelectedValueChanged.InvokeAsync(e.Value?.ToString());
    }
}