<SnackBar>
    <div class="flex items-center justify-between">
        @if (Failed)
        {
            <LimitedHtml
                Value="@UiStrings.RestSingular(Rest.FailureRest.ToString(TimespanFormatStr))"
                EmClass="font-bold" />
        }
        else {
            <RestFormat Highlight=false Rest="@Rest" />
        }
        <span class="font-bold">@(TimeSinceStart.ToString(TimespanFormatStr))</span>
        @* <span>@(DateTime.Now.ToString())</span>
        <span>@(StartTime)</span> *@
    </div>
</SnackBar>

@code {
    [EditorRequired] [Parameter] public Rest Rest { get; set; } = null!;

    [EditorRequired] [Parameter] public DateTime StartTime { get; set; }

    [EditorRequired] [Parameter] public bool Failed { get; set; }

    private TimeSpan TimeSinceStart => DateTime.Now - StartTime;
}
