@using System.Globalization

<div class="flex justify-between mb-4">
    <span class="text-xl">@Session.Blueprint.Name</span>
    @if (IsFilled)
    {
        <span class="text-lg">@FormattedDate</span>
    }
    <AppButton   Type=AppButtonType.OutlineSecondary>Start</AppButton>
</div>

<div class="grid @GridRows gap-x-4 text-start">
    @foreach (var exercise in Session.RecordedExercises)
    {
        <span>@exercise.Blueprint.Name</span>
        @if (ShowSets)
        {
            <span>@(exercise.Blueprint.Sets)x@(exercise.Blueprint.RepsPerSet) </span>
        }

        @if (ShowWeight)
        {
            <span class="flex justify-end">
                <WeightFormat Weight="@exercise.Weight"/>
            </span>
        }
    }
</div>

@code
{
    [EditorRequired] [Parameter] public Session Session { get; set; } = null!;

    [Parameter] public bool IsFilled { get; set; }

    [Parameter] public bool ShowSets { get; set; }

    [Parameter] public bool ShowWeight { get; set; } = true;

    private string FormattedDate => Session.Date.Year == DateTime.Now.Year
        ? Session.Date.ToString("M", CultureInfo.InvariantCulture)
        : Session.Date.ToString("M", CultureInfo.InvariantCulture) + " " + Session.Date.Year;

    private string GridRows => (ShowSets, ShowWeight) switch
    {
        (true, true) => "grid-cols-[1fr,max-content,max-content]",
        (true, false) => "grid-cols-[1fr,max-content]",
        (false, true) => "grid-cols-[1fr,max-content]",
        (false, false) => "grid-cols-1",
    };
}
