@using ApexCharts;
@using LiftLog.Ui.Services;
@using MaterialColorUtilities.Utils;
@using MaterialColorUtilities.Schemes;

@implements IDisposable

@inject IThemeProvider ThemeProvider

@if (ShowTitle)
{
    <h2 class="text-xl text-on-surface self-start">@(Title)</h2>
}
@if (IsLoading)
{
    <div class="flex flex-col justify-center h-full gap-4 text-on-surface">
        <div>
            <md-circular-progress aria-label="Stats progress" indeterminate four-color></md-circular-progress>
        </div>
        <span>
            <p>Loading...</p>
        </span>
    </div>
}
else
{
    <ApexChart
        TItem="TimeTrackedStatistic"
        Title=""
        Options="options"
        XAxisType="XAxisType.Datetime">

        @foreach(var statistics in Statistics)
        {
            <ApexPointSeries TItem="TimeTrackedStatistic"
                Items="statistics.Statistics"
                Name="@statistics.Title"
                SeriesType="SeriesType.Line"
                XValue="@(e => e.DateTime)"
                YAggregate="@(e => e.Max(e => e.Value))"
                OrderByDescending="e => e.X"/>
        }
    </ApexChart>
}

@code {
    [Parameter] [EditorRequired] public ImmutableListValue<StatisticOverTime> Statistics { get; set; } = null!;

    [Parameter] [EditorRequired] public string Title { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    // Loading lots of graphs at once can be slow, so we can delay the rendering of this graph
    public TimeSpan RenderDelay { get; set; }


    [CascadingParameter(Name = "UseImperial")]
    public bool UseImperial { get; set; }

    [Parameter] public bool ShowTitle { get; set; } = true;

    private AppColorScheme<uint> scheme = null!;

    private bool IsLoading { get; set; } = true;

    private bool _disposed = false;


    private ApexChartOptions<TimeTrackedStatistic> options = null!;

    public void Dispose()
    {
        _disposed = true;
    }

    protected override async Task OnInitializedAsync()
    {
        scheme = await ThemeProvider.GetColorSchemeAsync();
        Color LineColors =  new()
        {
            GetColorString(scheme.Blue),
            GetColorString(scheme.Green),
            GetColorString(scheme.Red),
            GetColorString(scheme.Yellow),
            GetColorString(scheme.Purple),
            GetColorString(scheme.Cyan),
            GetColorString(scheme.Pink),
            GetColorString(scheme.Indigo),
            GetColorString(scheme.Teal),
            GetColorString(scheme.Lime),
            GetColorString(scheme.Orange),
        };

        options = new ApexChartOptions<TimeTrackedStatistic>
        {
            Chart = new Chart
            {
                Toolbar = new Toolbar
                {
                    Show = false
                },
                Selection = new()
                {
                    Enabled = false,
                },
                Zoom = new()
                {
                    Enabled = false,
                },
                Animations = new()
                {
                    Enabled = true,
                    Easing = Easing.Easeout,
                    Speed = 400
                },
                FontFamily = "Roboto"
            },
            Stroke = new Stroke
            {
                Curve = Curve.Smooth,
                Width = 6
            },
            Colors = LineColors,
            Title = new()
            {
                Style = new()
                {
                    Color = GetColorString(scheme.OnSurface),
                }
            },
            Xaxis = new()
            {
                Labels = new()
                {
                    Style = new()
                    {
                        Colors = new Color(GetColorString(scheme.OnSurface)),
                    }
                },
                AxisBorder = new()
                {
                    Color = GetColorString(scheme.OutlineVariant),
                },
            },
            Yaxis = new()
            {
                new()
                {
                    Labels = new()
                    {
                        Style = new()
                        {
                            Colors = new Color(GetColorString(scheme.OnSurface)),
                        },
                        Formatter = $"(value)=>parseFloat(parseFloat(value).toFixed(3)) + ' {WeightSuffix}'",
                    },
                }
            },
            Tooltip = new()
            {
                Enabled = true,
            },
            Grid = new()
            {
                BorderColor = GetColorString(scheme.OutlineVariant),
            },
            Markers = new()
            {
                Size = 6,
                StrokeColors = LineColors,
                StrokeWidth = 4,
            },
            Legend = new()
            {
                Labels = new()
                {
                    Colors = GetColorString(scheme.OnSurface)
                }
            }
        };

        await Task.Delay(RenderDelay).ContinueWith(_ =>
        {
            if (!_disposed)
            {
                IsLoading = false;
                InvokeAsync(StateHasChanged);
            }
        });
    }

    private string GetColorString(uint color) => "#" + color.ToString("X").Substring(2, 6);

    private string WeightSuffix => UseImperial ? " lbs" : " kg";
}
<style>

  .apexcharts-tooltip {
    background: @GetColorString(scheme.Surface) !important;
    color: @GetColorString(scheme.OnSurface) !important;
    border-color: @GetColorString(scheme.OutlineVariant)!important;
    box-shadow: none !important;
  }

  .apexcharts-tooltip-series-group{
    background: @GetColorString(scheme.Surface) !important;
    border-color: @GetColorString(scheme.Outline)!important;
  }

  .apexcharts-tooltip-title{
    background: @GetColorString(scheme.SurfaceContainer) !important;
    border-color: @GetColorString(scheme.OutlineVariant)!important;
    border-bottom: none!important;
  }

  .apexcharts-xaxistooltip {
    background: @GetColorString(scheme.Surface) !important;
    color: @GetColorString(scheme.OnSurface) !important;
    border-color: @GetColorString(scheme.OutlineVariant)!important;
    box-shadow: none !important;
  }
  .apexcharts-xaxistooltip:before, .apexcharts-xaxistooltip:after {
    border-bottom-color: @GetColorString(scheme.OutlineVariant)!important;
  }
</style>
