@using Fluxor;

@page "/feed/user-plan/{UserIdStr}"

@inject IJSRuntime JSRuntime
@inject IState<FeedState> FeedState
@inject IState<ProgramState> ProgramState
@inject NavigationManager NavigationManager
@inject IDispatcher Dispatcher

@inherits Fluxor.Blazor.Web.Components.FluxorComponent


<div class="flex flex-col gap-4">
    <CardList Items="plan">
        <SessionSummaryTitle Session="context.GetEmptySession()" IsFilled="false"/>
        <SessionSummary Session="context.GetEmptySession()" IsFilled="false" />
    </CardList>
    <div>
        <AppButton OnClick="() => importPlanDialog?.Open()" Icon="assignment">@UiStrings.ImportTheirPlan</AppButton>
    </div>
</div>

@if (user != null)
{
    <Dialog @ref="importPlanDialog">

        <span slot="headline">@UiStrings.ImportTheirPlan</span>
        <span slot="content" class="block text-start">
            <LimitedHtml Value="@UiStrings.ImportTheirPlanMessage(user.DisplayName)"/>
        </span>
        <div slot="actions">
            <AppButton Type="AppButtonType.Text" OnClick=@(() => importPlanDialog?.Close())>@UiStrings.Cancel</AppButton>
            <AppButton Type="AppButtonType.Text" OnClick=ImportPlan>@UiStrings.Import</AppButton>
        </div>
    </Dialog>
}

@code
{
    [Parameter] public string UserIdStr { get; set; } = null!;

    private Dialog? importPlanDialog;

    private FeedUser? user;

    private ImmutableListValue<SessionBlueprint> plan = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new SetPageTitleAction("User plan"));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/feed"));
        if (!Guid.TryParse(UserIdStr, out var userId) || !FeedState.Value.FollowedUsers.TryGetValue(userId, out user))
        {
            NavigationManager.NavigateTo("/feed");
        }
        else
        {
            Dispatcher.Dispatch(new SetPageTitleAction($"{user.DisplayName}'s Plan"));
            plan = user.CurrentPlan;
        }
    }

    private async void ImportPlan()
    {
        var planId = Guid.NewGuid();
        Dispatcher.Dispatch(new CreateSavedPlanAction(planId, $"{user?.DisplayName}'s Plan"));
        Dispatcher.Dispatch(new SetProgramSessionsAction(planId, plan));
        await importPlanDialog!.CloseWait();
        Dispatcher.Dispatch(new NavigateAction("/settings/program-list?FocusPlanId="+planId));
    }

}
